{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}

{% block main %} 


        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>О нас </h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <!-- about -->
      <div class="about slin2">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>О нас</h2>
                     <p>Мы специализируемся на проведении разнообразных процедур, призванных улучшить состояние кожи рук и ногтей. Сегодня посетителю студии маникюра предлагаются такие услуги как: парафинотерапия, массаж рук, уход за кутикулой и ногтевой пластиной при помощи натуральных масел, спа - маникюр и педикюр.</p>
                    <!-- 
                     <a class="read_more" href="Javascript:void(0)"> Read More</a>

                    -->
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="../static/images/about.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
   
      {% endblock %}
