
{% extends 'base.html' %}
{% block title %}
Услуги
{% endblock %}

{% block main %} 


     <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Услуги </h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- what we do  -->
   <div class="we_do slin">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Услуги </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-10 offset-lg-1 col-md-12">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="../static/images/weicon1.png" alt="#"/></i>
                           <h3>Дизайн</h3>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="../static/images/weicon2.png" alt="#"/></i>
                           <h3>Маникюр</h3>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="../static/images/weicon3.png" alt="#"/></i>
                           <h3>Педикюр</h3>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           <i><img src="../static/images/weicon4.png" alt="#"/></i>
                           <h3>Уход</h3>
                           <p></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end what we do  -->

      {% endblock %}